@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&family=Source+Sans+Pro:wght@900&display=swap');
*{
    padding: 0px;
    margin: 0;
}
p{
    font-family: 'ROBOTO',Light;
    
font-size: 14px;
}
img{
    /* max-width: 100%; */
    width: 100%;
}
header{
    background-image: url(./images/bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 740px;
}
/* nav bar start */
nav{
    
    padding: 70px 0px;
}
.logo{
    width: 150px;
    display: inline-block;
}


ul{
    float: right; 
}
li{
    display: inline-block;
    list-style: none;
    color: #c7c2c0;
    cursor: pointer;
    margin-left: 28px;
    position: relative;
    font-size: 17px;
    font-family: 'Roboto',Medium;
}
a{
    text-decoration: none;
   
}

nav li::before{
   content: '';
   background-color: #fb414e;
   width: 42px;
   height: 3px;
   position: absolute;
   top: 30px;
   left: -20px;
   opacity: 0;
   transition:0.4s;
   -webkit-transition:0.4s;
   -moz-transition:0.4s;
   -ms-transition:0.4s;
   -o-transition:0.4s;
}
li:hover::before{
    opacity: 1;
    left: 2px;
}

.checkBtn{
    float: right;
    color: white;
    font-size: 30px;
    display: none;
    cursor: pointer;
    line-height: 30px;
}
#check{
    display: none;
}
/* nav end */

/* header content */
.header-content{
    text-align: center;
   
    margin: auto;
}
.header-content h2{
    font-family:'Source Sans Pro', sans-serif;
    font-size: 45pt;
    color: #ffffff;
    margin: 60px 0px;
}
.header-paragraph{
    width: 70%;
    margin: 45px auto;
}
.header-paragraph p{

    color: #c1c0be;



}
.header-content a{
    color: #c7c2c0;
    padding: 10px;
    width: 200px;
    margin: 0px 10px;
}




/* header end */

/* feature */
.feature-section{
    margin-top: -80px;
}
.red{
    background-color: #fb414e;
}
.blue{
    background-color: #202b30;
}

.features{
    color: #ffffff;
    padding: 60px 50px;
}
.features h6{
    color: #ffffff;
    font-size: 20px;
    font-family: 'Roboto',Medium;
}
.feature-title{
    margin: 30px 0px;
    position: relative;
}
.feature-title::before{
    content: '';
    background-color: #ffffff;
    width: 42px;
    height: 3px;
    position: absolute;
    top: 40px;
    /* left: -20px; */
    margin: 10px 0px;
}
.feature-details{
    margin-top: 50px;
}
.feature-icon{
    font-size: 40px;
    color: #ffffff;
}
.fixedWidth{
    width: 95%;
    padding: 30px;
    
    margin: 30px auto;
}
.businessPlan{
    background-color: #202b30;
    
    
}
.common-padding{
    padding: 35px 0px;
}
.about-plan h2{
    color: #ffffff;
    text-transform: capitalize;
    font-family: 'Source Sans Pro', Black;
    padding: 50px 0px;
}
.about-plan p{
    color:#e1e3e3
}
.about-plan a{
    color: #c7c2c0;
    padding: 10px;
    width: 200px;
    margin: 30px 0px;
    
    border: 1px solid #c7c2c0;
    text-decoration: none;
}
.about-plan a:hover{
    background-color: #c7c2c0;
    color: #202b30;
}
.plan-gallery{
   
    margin-top: 10px;
}
 
/*service */
.service{
    background-color: #f8f8f8;
}
 h2,h6{
    color: #1f1f1f;
    font-family: 'Source Sans Pro',Bold;
    
}
.service p{
    color: #c9c9c9;
    font-family: 'Roboto',Medium;
}
.services{
    margin: 35px 0px;
}
.serviceDetails h2{margin: 35px 0px;}
.serviceDetails p{
    
margin-top: 30px;
}

/* gallery start */
.gallery{
    padding: 0 !important;
}
.galleryImg{
    margin: 10px 0px;
}
.galleryMenu {
   display: flex;
   justify-content: center;
   max-width: 100%;
}
.galleryMenu ul{
    max-width: 100%;
}
.galleryMenu li{
    font-family: 'Source Sans Pro',Regular;
}
.galleryMenu li:hover{
    border-bottom: 1px solid #000000;
    color: #000000;
}

/* review section */
.review{}
.review-describe{}
.review h1{
    font-family: 'Source Sans Pro', Bold;
    font-size: 34pt;
}
.review-describe p{
    color: #1f1f1f;
    font-family: 'Roboto', Light;
    margin-top: 32px;
}
.review-describe a{
    color: #1f1f1f;
    padding: 10px;
    width: 200px;
    margin: 30px 0px;
    
    border: 1px solid #1f1f1f;
    text-decoration: none;
}
.review-describe a:hover{
background-color: #1f1f1f;
color: #ffffff;
}
.review-video{
    position: relative;
    height: 100%;
}
.review-video img{
    height: 100%;
}
.videoIcon{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    color: white;
    transform: translate(-50%,-50%);
    font-weight: 400;
    border: 4px solid white;
}
.review-video i{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   -webkit-transform: translate(-50%,-50%);
   -moz-transform: translate(-50%,-50%);
   -ms-transform: translate(-50%,-50%);
   -o-transform: translate(-50%,-50%);
   font-size: 30px;
}
.videoImage::before{
    content: '';
    height: 320px;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: #00000066;
}


/* work */
.work{
    padding: 30px 0px;
}

.workBg{
 
height: 500px;
 
background-image: url(./images/bench-accounting-nfTA8pdaq9A-unsplash.png);
 
background-position: center;
 
background-size: cover;
max-width: 100%;
}
.work-content p{
    margin: 35px 0px;
    color: #c9c9c9;
}
.work-icon{
    font-size: 40px;
    color: #fb414e;
    margin:10px 0px;
}
.work-type p{
    margin: 25px 0px;
}
.work-type h6{
    color: #5e5e5e;
    font-family: 'Source Sans Pro',Regular;
}
/* work end */
 /* contact section  */
.contact{
    
}
 .contact-details{
    text-align: right;
 }
 .contact-details h1{
    font-family: 'Source Sans Pro', Bold;
    font-size: 34pt;
 }
 .contact-details p{
    margin: 35px 0px;
    color: #c9c9c9;
 }
 .contact-form{
    
 }
 form input,select,textarea{
     width: 100%;
     margin: 10px 0px !important;
     padding: 10px 10px;
     border: 1px solid black;
     outline: 0;
 }
footer{
    background-color: #202b30;
    padding: 50px 0px;
}
.footer-contact{
    width: 50%;
}
footer h6{
    color: white;
    margin: 30px 0px;
}
.footer-contact p{
    margin: 10px 0px ;
    color: #f0f1f1;
}

.footer-icon{
    display: flex;
    padding: 70px 0px 50px;
}
.social-icon{
    margin-right: 20px;
    color: #f8f8f8;
    background: #fb414e;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
}
.social-icon i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%) ;
    -webkit-transform:translate(-50%,-50%) ;
    -moz-transform:translate(-50%,-50%) ;
    -ms-transform:translate(-50%,-50%) ;
    -o-transform:translate(-50%,-50%) ;
}
.footer-menu{
    width: 100%;
}
 ul{
    padding: 0 !important;
}
.submit-form{
    display: flex;
}
.subscribe{
    text-align: right;
}
.subscribe .submit{
    width: 100px;
}
.subscribe input[type=text]{
   width: 85%;
   text-align: left;
}
.subscribe input[type=submit]{
    width: 15%;
    text-align: left;
 }
 .copyright{
     padding: 70px 0px 50px;
     color: #495357;
 }





